In [19]:
import pandas as pd
import acquire

<b>Legend:</b>
<hr>
<ul>
<li> <i>italics</i> are personal notes</li>
<li> plain text are scientific journal entries</li>
</ul>

<i>I have found a source of information reguarding hero's played and the overall professional</i>

<i>I had to reference older material to import this bad boy and now it is in my hands to mess with</i>

What does the data set look like?

In [20]:
df = acquire.get_map_data()
df

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
1,2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,...,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2,2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
3,2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
4,2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11231,2021-09-26 01:57:42,2021-09-26 02:04:09,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,2,...,Atlanta Reign,Shanghai Dragons,70.287613,70.287613,93.260010,196.845001,NaN,NaN,3,3
11232,2021-09-26 02:05:35,2021-09-26 02:08:24,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,3,...,Atlanta Reign,Shanghai Dragons,9.008842,70.287613,0.000000,196.845001,NaN,NaN,5,3
11233,2021-09-26 02:09:50,2021-09-26 02:12:41,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,4,...,Atlanta Reign,Shanghai Dragons,9.014740,9.008842,25.285004,0.000000,NaN,NaN,6,5
11234,2021-09-26 02:53:59,2021-09-26 03:01:59,OWL 2021,37441,4,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,Havana,1,...,Shanghai Dragons,Atlanta Reign,55.211487,0.000000,0.000000,0.000000,NaN,NaN,2,0
11235,2021-09-26 03:03:30,2021-09-26 03:10:18,OWL 2021,37441,4,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,Havana,2,...,Shanghai Dragons,Atlanta Reign,55.218384,55.211487,71.733025,0.000000,NaN,NaN,3,2

<i>As far as where this is going I think it ought to be best that I drop the time aspect of it to build out my MVP</i>

<p>
What can I do with this data?
</p>

I will practice what I know most comfortable for me as far as machine learning tools go

For the time being I need to focus on filling in the information

In [21]:
df_no_time = df.drop(columns=["round_start_time","round_end_time"])
df_no_time

,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,winning_team_final_map_score,losing_team_final_map_score,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,3,2,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
1,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,3,2,...,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,4,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
3,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,4,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
4,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,4,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11231,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,2,6,5,...,Atlanta Reign,Shanghai Dragons,70.287613,70.287613,93.260010,196.845001,NaN,NaN,3,3
11232,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,3,6,5,...,Atlanta Reign,Shanghai Dragons,9.008842,70.287613,0.000000,196.845001,NaN,NaN,5,3
11233,OWL 2021,37441,3,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,King's Row,4,6,5,...,Atlanta Reign,Shanghai Dragons,9.014740,9.008842,25.285004,0.000000,NaN,NaN,6,5
11234,OWL 2021,37441,4,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,Havana,1,3,2,...,Shanghai Dragons,Atlanta Reign,55.211487,0.000000,0.000000,0.000000,NaN,NaN,2,0
11235,OWL 2021,37441,4,Shanghai Dragons,Shanghai Dragons,Atlanta Reign,Havana,2,3,2,...,Shanghai Dragons,Atlanta Reign,55.218384,55.211487,71.733025,0.000000,NaN,NaN,3,2

Summary statistics

In [22]:
df_no_time.describe().T

,count,mean,std,min,25%,50%,75%,max
match_id,11236.0,25212.268067,10245.852391,10223.0,20316.0,21455.0,34812.000000,37448.000000
game_number,11236.0,2.604931,1.261433,1.0,2.0,3.0,4.000000,8.000000
map_round,11236.0,1.889729,0.952376,1.0,1.0,2.0,2.000000,7.000000
winning_team_final_map_score,11236.0,2.703631,1.102778,0.0,2.0,2.0,3.000000,8.000000
losing_team_final_map_score,11236.0,1.442328,1.289084,0.0,0.0,1.0,2.000000,7.000000
attacker_payload_distance,11236.0,29.902899,40.025959,0.0,0.0,0.0,70.297155,246.755112
defender_payload_distance,11236.0,18.781232,36.879487,0.0,0.0,0.0,0.000000,900.000000
attacker_time_banked,11236.0,46.001816,81.838631,0.0,0.0,0.0,62.956245,404.036987
defender_time_banked,11236.0,44.432948,87.336759,0.0,0.0,0.0,33.671021,415.794983
attacker_control_perecent,3331.0,78.070850,34.126400,0.0,61.0,99.0,100.000000,101.000000
defender_control_perecent,3331.0,79.627139,33.154805,0.0,66.0,100.0,100.000000,101.000000
attacker_round_end_score,11236.0,1.794856,1.228723,0.0,1.0,2.0,3.000000,8.000000
defender_round_end_score,11236.0,1.256853,1.277609,0.0,0.0,1.0,2.000000,8.000000

In [23]:
df_no_time.groupby("map_name").describe().T

map_name                        Blizzard World        Busan        Dorado  \
match_id                 count      436.000000    602.00000    414.000000
                         mean     23613.683486  30089.95515  21979.632850
                         std      10617.214960   6799.62996  10202.015431
                         min      10336.000000  20304.00000  10223.000000
                         25%      10485.750000  21388.00000  10540.750000
...                                        ...          ...           ...
defender_round_end_score min          0.000000      0.00000      0.000000
                         25%          0.000000      0.00000      0.000000
                         50%          1.000000      1.00000      0.000000
                         75%          3.000000      1.00000      3.000000
                         max          5.000000      2.00000      5.000000

map_name                         Eichenwalde      Hanamura        Havana  \
match_id                 count    424.000000    699.000000    270.000000
                         mean   26294.316038  26121.855508  29572.622222
                         std     9792.312266  10813.490221   7225.149327
                         min    10224.000000  10280.000000  20324.000000
                         25%    21248.000000  13123.000000  21421.250000
...                                      ...           ...           ...
defender_round_end_score min        0.000000      0.000000      0.000000
                         25%        0.000000      0.000000      0.000000
                         50%        1.000000      1.000000      1.000000
                         75%        3.000000      2.000000      3.000000
                         max        6.000000      6.000000      6.000000

map_name                           Hollywood  Horizon Lunar Colony  \
match_id                 count    402.000000            383.000000
                         mean   25395.833333          17539.642298
                         std     9489.787385           6911.665416
                         min    10279.000000          10227.000000
                         25%    21228.000000          10471.000000
...                                      ...                   ...
defender_round_end_score min        0.000000              0.000000
                         25%        0.000000              0.000000
                         50%        0.500000              2.000000
                         75%        3.000000              2.000000
                         max        6.000000              6.000000

map_name                               Ilios    Junkertown  ...  \
match_id                 count    706.000000    414.000000  ...
                         mean   24444.341360  21930.879227  ...
                         std    10191.962917  10621.915888  ...
                         min    10223.000000  10225.000000  ...
                         25%    20302.000000  10371.000000  ...
...                                      ...           ...  ...
defender_round_end_score min        0.000000      0.000000  ...
                         25%        0.000000      0.000000  ...
                         50%        1.000000      2.000000  ...
                         75%        1.000000      3.000000  ...
                         max        2.000000      8.000000  ...

map_name                        Lijiang Tower         Nepal       Numbani  \
match_id                 count     743.000000    607.000000    516.000000
                         mean    25497.476447  24799.143328  24665.852713
                         std     10803.513983  10893.532636  10803.815238
                         min     10227.000000  10278.000000  10223.000000
                         25%     10629.000000  10588.000000  10588.000000
...                                       ...           ...           ...
defender_round_end_score min         0.000000      0.000000      0.000000
                         25%         0.000000      0.000000      0.000000
                         50%         1.000000      1.000000      2.000000
                         75%         1.000000      1.000000      3.000000
                         max         2.000000      2.000000      6.000000

map_name                               Oasis         Paris        Rialto  \
match_id                 count    674.000000    207.000000    306.000000
                         mean   24467.881306  24330.270531  29180.921569
                         std    10974.602432   5107.236095   6983.156068
                         min    10226.000000  20311.000000  20301.000000
                         25%    10565.000000  21316.000000  21292.000000
...                                      ...           ...           ...
defender_round_end_score min        0.000000      0.000000      0.000000
                         25%        0.000000      0.000000      0.000000
                         50%        1.000000      2.000000      1.000000
                         75%        1.000000      2.000000      3.000000
                         max        2.000000      5.000000      5.000000

map_name                            Route 66  Temple of Anubis  \
match_id                 count    406.000000        782.000000
                         mean   23015.078818      26394.213555
                         std    10594.234342      10134.633151
                         min    10278.000000      10223.000000
                         25%    10552.750000      21232.000000
...                                      ...               ...
defender_round_end_score min        0.000000          0.000000
                         25%        0.000000          0.000000
                         50%        0.000000          1.000000
                         75%        3.000000          2.000000
                         max        6.000000          6.000000

map_name                        Volskaya Industries  Watchpoint: Gibraltar
match_id                 count           935.000000             520.000000
                         mean          26372.824599           23870.930769
                         std           10188.821009           10736.508120
                         min           10278.000000           10280.000000
                         25%           21213.000000           10545.000000
...                                             ...                    ...
defender_round_end_score min               0.000000               0.000000
                         25%               0.000000               0.000000
                         50%               2.000000               2.000000
                         75%               2.000000               3.000000
                         max               6.000000               6.000000

[104 rows x 21 columns]

In [24]:
df_no_time.groupby("map_name").match_id.describe()

,count,mean,std,min,25%,50%,75%,max
map_name,,,,,,,,
Blizzard World,436.0,23613.683486,10617.214960,10336.0,10485.75,21414.0,34625.75,37424.0
Busan,602.0,30089.955150,6799.629960,20304.0,21388.00,34191.5,35551.75,37431.0
Dorado,414.0,21979.632850,10202.015431,10223.0,10540.75,21268.0,31088.75,37446.0
Eichenwalde,424.0,26294.316038,9792.312266,10224.0,21248.00,30172.0,34811.25,37447.0
Hanamura,699.0,26121.855508,10813.490221,10280.0,13123.00,31058.0,37218.00,37444.0
Havana,270.0,29572.622222,7225.149327,20324.0,21421.25,34713.0,37219.25,37446.0
Hollywood,402.0,25395.833333,9489.787385,10279.0,21228.00,21441.0,34611.00,37414.0
Horizon Lunar Colony,383.0,17539.642298,6911.665416,10227.0,10471.00,21130.0,21357.00,31044.0
Ilios,706.0,24444.341360,10191.962917,10223.0,20302.00,21433.0,34767.50,37446.0
Junkertown,414.0,21930.879227,10621.915888,10225.0,10371.00,21345.0,34505.50,37405.0
King's Row,790.0,26431.706329,10151.473811,10278.0,21218.25,30173.0,35521.00,37448.0
Lijiang Tower,743.0,25497.476447,10803.513983,10227.0,10629.00,30158.0,34914.00,37447.0
Nepal,607.0,24799.143328,10893.532636,10278.0,10588.00,21405.0,34829.50,37448.0
Numbani,516.0,24665.852713,10803.815238,10223.0,10588.00,21396.0,34917.00,37432.0
Oasis,674.0,24467.881306,10974.602432,10226.0,10565.00,21375.0,34882.00,37428.0
Paris,207.0,24330.270531,5107.236095,20311.0,21316.00,21367.0,31003.00,34232.0
Rialto,306.0,29180.921569,6983.156068,20301.0,21292.00,32825.0,34749.00,37424.0
Route 66,406.0,23015.078818,10594.234342,10278.0,10552.75,21410.0,34775.00,37445.0
Temple of Anubis,782.0,26394.213555,10134.633151,10223.0,21232.00,30158.0,35514.00,37448.0
Volskaya Industries,935.0,26372.824599,10188.821009,10278.0,21213.00,31087.0,35537.00,37447.0
Watchpoint: Gibraltar,520.0,23870.930769,10736.508120,10280.0,10545.00,21367.0,34757.25,37417.0

In [25]:
dfnt = df_no_time

I am trying to build out my data dictionary that way i  have a comprehensive understanding of all of my features

In [26]:
dfnt.stage.value_counts()

OWL 2020 Regular Season                           2835
OWL 2021                                          2155
Overwatch League Stage 1                           799
Overwatch League Stage 2                           759
Overwatch League Stage 3                           758
Overwatch League Stage 4                           741
Overwatch League - Stage 3                         627
Overwatch League - Stage 2                         627
Overwatch League - Stage 1                         615
Overwatch League - Stage 4                         607
Overwatch League 2019 Post-Season                  275
Overwatch League Inaugural Season Championship     103
Overwatch League Stage 3 Title Matches              84
Overwatch League Stage 1 Title Matches              81
Overwatch League Stage 2 Title Matches              71
Overwatch League - Stage 4 Title Matches            32
Overwatch League - Stage 2 Title Matches            23
Overwatch League - Stage 3 Title Matches            22
Overwatch League - Stage 1 - Title Matches          22
Name: stage, dtype: int64

What I want to ask of this is what times where these game types played in over the course of the year

In [27]:
df.head()

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
1,2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,...,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2,2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
3,2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
4,2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2

In [28]:
df_index = df.set_index('round_start_time').sort_index()
df_index.head()

,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,winning_team_final_map_score,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
round_start_time,,,,,,,,,,,,,,,,,,,,,
2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,3,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,3,...,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,4,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,4,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,4,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2

In [29]:
df.index[0]

0

In [30]:
type(df.index[-1])

int

In [31]:
df.head(1)

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.0,0.0,240.0,NaN,NaN,2,0

In [32]:
df_start = pd.to_datetime(df.round_start_time)
df_start

0       2018-01-11 00:12:07
1       2018-01-11 00:22:05
2       2018-01-11 00:34:39
3       2018-01-11 00:40:27
4       2018-01-11 00:46:09
                ...
11231   2021-09-26 01:57:42
11232   2021-09-26 02:05:35
11233   2021-09-26 02:09:50
11234   2021-09-26 02:53:59
11235   2021-09-26 03:03:30
Name: round_start_time, Length: 11236, dtype: datetime64[ns]

In [34]:
df_start[0]

Timestamp('2018-01-11 00:12:07')

The last recorded game of this dataset is 2021-09-26 03:03:30

This gives us roughly